<!DOCTYPE html>
<div class="contenedorCartas">
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
  <div class="carta">

  </div>
</div>
