<!DOCTYPE html>
<div class="contenedorHome ">
  <div class="contenedorRotable flex">
    <div class="contenedorTexto">

      <h2>Welcome, traveler...</h2>
      <div class="flex">
        <p>The reason you’ve entered this dimension is to find somebody.
          Go ahead, here you will find anything you need.</p>
      </div>

    </div>
    <div class="contenedorFoto">
      <div class="contenedorAttribution">
        <a class="flex" href="https://www.freepnglogos.com/pics/rick-and-morty">Image Artist</a>
        <img src="../../../assets/rick.avif">
      </div>
    </div>
  </div>
</div>
