@import "../../utilities/_variables";
.topBar {
  justify-content: space-between;
  padding: 0 2em;
  height: 80px;
  background-color: $morado-claro;

  .pBox {
    color: $morado-oscuro-letra;
    p {
    }
  }
}
img {
  margin-top: -1px;
  position: absolute;
}
