$morado-oscuro: #232946;
$morado-oscuro-letra: #232946;
$morado-claro-letra: #b8c1ec;
$morado-claro: #d4d8f0;
$negro-titulo: #121629;
$blanco: #fffffe;
$amarillo: #f9bc60;
$naranja: #eebbc3;
$blanco-brillante: #e8e4e6;
$drop-shadow: #013632c4;
$avenir: "Avenir", sans-serif;
