@import "../../utilities/_variables";
.contenedorVacio {
  margin-top: 5em;
}
.contenedorCartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 3em;
  gap: 2.4em;

  .carta {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 4px $morado-claro-letra;
    min-width: 300px;
    max-width: 300px;
    height: 500px;
    max-height: max-content;
    background-color: $blanco;

    .boxImage {
      img {
        border-radius: 20px;
        padding: 1em;
        width: 300px;
        height: 300px;
      }
    }
    .boxTexto {
      padding: 1em;
      .parteSuperior {
        h2 {
        }
        .filas {
          justify-content: left;
          gap: 0.5em;

          div {
            margin-top: 0.2em;

            border-radius: 50px;
            width: 15px;
            height: 15px;
          }
          p {
            margin-top: 0.3em;
          }
        }
      }
      .parteInferior {
        h3 {
          margin-top: 0.4em;
        }

        .filas {
          justify-content: left;
          gap: 0.5em;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .contenedorCartas {
    padding: 0;
  }
}
