<!DOCTYPE html>
<div class="contenedorHolder " infinite-scroll (scrolled)="onScrollDown()">
  <div class="contenedorCartas">
    <div class="carta" *ngFor="let card of cards" [routerLink]="['/details/', card.id]">
      <div class="boxImage flex">
        <img class="fotoPersonaje" [src]="card.image" [alt]="card.image">
      </div>
      <div class="boxTexto">
        <div class="parteSuperior">
          <h2>{{card.name.split(' ')[0]  }} {{card.name.split(' ')[1]  }} {{card.name.split(' ')[2]  }}
            {{card.name.split(' ')[3]  }}
          </h2>
          <div class="filas flex">
            <div style="background-color: green;" *ngIf="card.status == 'Alive'"></div>
            <div style="background-color: red;" *ngIf="card.status == 'Dead'"></div>
            <div style="background-color: grey;" *ngIf="card.status == 'unknown'"></div>
            <p>{{card.status}}</p>-
            <p>{{card.species}}</p>
          </div>
        </div>

        <div class="parteInferior">
          <h3>From:</h3>
          <div class="filas flex">
            <p>{{retornarString(card.origin)}}</p>
          </div>
          <h3>Created:</h3>
          <div class="filas flex">
            <p>{{card.created | date}}</p>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="contenedorVacio" *ngIf="cards.length <= 0">
    <div>
      <h1 class="flex">No Characters Found</h1>
      <h2 class="flex">With the name of {{returnQuery()}}.</h2>
    </div>

  </div>
</div>
