@import "../../utilities/_variables";

.total {
  .sticky {
    position: sticky;
    top: 0px;
    .bottomBar {
      justify-content: space-between;
      height: 70px;
      background-color: $morado-oscuro;
      .imageBox {
        z-index: 10;
        width: 450px;
        height: max-content;
        img {
          filter: drop-shadow(10px 10px 0px $blanco);
          width: 450px;
          padding-top: 5em;
          margin-left: 5em;
        }
      }
      .pBox {
        padding: 0 1em;
        z-index: 10;
        height: 100%;
        margin-top: auto;
        color: $morado-oscuro-letra;
      }
    }
  }

  img {
    margin-top: -1px;
    position: absolute;
  }

  .contenedorHolder {
    width: 100vw;
    height: max-content;
    background-color: $morado-claro;
    padding-top: 15vh;
    padding-bottom: 10vh;
  }
}

@media only screen and (max-width: 1024px) {
  .bottomBar {
    .imageBox {
      width: 400px !important;
      img {
        width: 400px !important;
        padding-top: 4em !important;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .bottomBar {
    .imageBox {
      width: 350px !important;
      img {
        width: 350px !important;
        padding-top: 3em !important;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .bottomBar {
    .imageBox {
      width: 300px !important;
      img {
        width: 300px !important;
        margin-left: 2em !important;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 600px) {
  .bottomBar {
    padding-bottom: 0.8em !important;
    .imageBox {
      width: 200px !important;

      img {
        filter: drop-shadow(5px 6px 0px $blanco) !important;
        width: 180px !important;
        margin-left: 0 !important;
      }
    }
  }
}
